<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>USER MANAGEMENT API</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <main>
      <header >
            <div class="intro">
                <h1 class="transition comeup comeupp">SIMPLE USER MANAGEMENT API</h1><br>
                <p class="disappear transition comeup comeupp">challenge by <cite>technify incubator</cite></p><br><br>
                <a href="https://github.com/Abdussalam-Mujeeb-ur-rahman/simple-user-management-api" class="disappear transition comeup comeupp">github</a>
                <a href="https://documenter.getpostman.com/view/23410424/2s8ZDeUzH7" class="disappear transition comeup comeupp">postman</a>
            </div>
      </header>
      <div class="summary comeupp">
        <br><br><br>
        <div >
            <h3 class="disappear transition comeup comeupp">SUMMARY</h3><br>
            <p class="disappear transition comeup comeupp">The user-management-api manages users signing up,
                <br> logging in, editing profile information and image.
                <br> It implements security measures to make sure users' <br> files are well encrypted and kept safe.</p>
        </div>
        <div class="gif">
            <img src="apiImage.jpg" alt="apiImage" class=" transition comeup comeupp">
        </div>
      </div>
      <div class="features">
        <h3 class="colored-head transition comeup comeupp">FEATURES</h3><br><br>
        <div class="section">
          <div class=" transition comeup comeupp">
            <img src="storage.svg" alt="storage">
            <p>Storage</p>
          </div>
          <div>
            <img src="security.jpg" alt="security">
            <p>Security</p>
          </div>
          <div>
            <img src="reliability.jpg" alt="reliability">
            <p>Reliability</p>
          </div>
        </div>
      </div>
      <div class="letsChat">
          <h3 class="colored-head  transition comeup comeupp">built by me</h3><br><br>
        <div>
          <div>
            <div class="disappear transition comeup comeupp">
              <p>
                Phone <br>
                  +2349035169648
              </p>
            </div><br>
            <div class="disappear transition comeup comeupp">
              <p>
                Email <br>
                  mjbabdussalam@gmail.com
              </p>
            </div><br>
            <div class=" transition comeup comeupp">
              <p>
                Social <br>
                  <a href=""><img src="icons8-whatsapp.gif" alt="whatsapp"></a> <a href="https://twitter.com/allahisrabb"><img src="icons8-twitter.svg" alt="twitter"></a>
              </p>
            </div>
          </div>
         
        </div>
      </div>
      <footer>
        <p>
          all rights served. built by Abdussalam Mujeeb-ur-rahman
        </p>
      </footer>
    </main>
    <script src="script.js"></script>
  </body>
</html>
